@import url('https://fonts.googleapis.com/css2?family=Quattrocento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Project{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: -120px;
}

.myProject{
    display: flex;
    color: white;
    position: relative;
    right: -250px;
    top: -110px;
    font-size: 38px;
}

.slider .left-arrow{
    color: white;
    position: relative;
    bottom: -480px;
    left: -710px;
    font-size: 50px;
}

#slideIm{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: -180px;
    bottom: -260px;
}

#slideIm .display .image{
    width: 450px;
    height: 400px;
    position: relative;
    left: -70px;
    top: -2px;
}

.slider .right-arrow{
    position: relative;
    right: -450px;
    bottom: -480px;
    color: white;
    font-size: 50px;
}

.projectName{
    color: white;
    position: relative;
    top: -360px;
    left: -600px;
    font-size: 45px;
    font-family: 'Quattrocento', serif;
}

.language{
    color: white;
    position: relative;
    background-color: transparent;
    left: -620px;
    top: -325px;
    font-size: 35px;
    font-family: 'Graduate', cursive;
    text-decoration: none;
}

.icon{
    color: #FFFF00;
    position: relative;
    top: -280px;
    left: -750px;
    font-size: 40px;
}

.projectGithub{
    color: white;
    position: relative;
    top: -270px;
    left: -620px;
    font-size: 40px;
}

.cursor{
    position: fixed;
    width: 50px;
    height: 50px;
    border: 1px solid white;
    border-radius: 50%;
    left: 0;
    right: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: .1s;
}  

.cursor2{
    position: fixed;
    width: 40px;
    height: 40px;
    background-color: wheat;
    border-radius: 50%;
    left: 0;
    right: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: .15s;
}